.auth-container {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: row; /* بدل column */
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg,#1c314e,#243b55);
  gap: 40px; /* مسافة بين اليسار واليمين */
}


.auth-left {
  justify-content: center;
  align-items: center;
  width: 50%;
}

.auth-left img {
  padding:10px;
  margin:10px;
  width: 100%;
  height: auto;
  margin-bottom:20px;
  object-fit: contain;
  mix-blend-mode:lighten;
  

}

.auth-brand {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #d3bb9cff;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1px;
}

/* القسم اليميني (بوكس التسجيل/الدخول) */
.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-type input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  margin-right: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid #0a0a0a;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.account-type input[type="radio"]:checked::before {
  content: "";
  position:absolute;
  width: 10px;
  height: 10px;
  background-color: #417f0a;
  border-radius: 100%;
  top: 3px;
  left: 3px;
}

.auth-box {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.18);
  background:#7a7d7e;
  backdrop-filter: blur(12px);
  padding: 40px;
  width: 350px;
  border-radius: 16px;
  text-align: center;
  color:#0d1e36;
  border: 2px solid #989595eb;
  animation: fadeIn 0.8s ease;
  position: relative;
  z-index: 1;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.auth-title {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 600;
  color:#fff;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-input {
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #eef3ff;
  color:#070707;
  font-size: 15px;
  cursor: text !important;
  z-index: 5;
}

.auth-input::placeholder {
  color: rgb(7, 7, 7);
}

.auth-btn {
  padding: 12px;
  background: #0d1e36;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #112945;
}

.auth-switch {
  margin-top: 15px;
  font-size: 14px;
}

.auth-switch span {
  color:whitesmoke;
  cursor: pointer;
  margin-left: 5px;
}
