.navbar{
  color: aliceblue;
 background: linear-gradient(135deg,#141e30,#243b55);
 width:100%;
}

.nav-links{
   background: linear-gradient(135deg,#141e30,#243b55);
  display: flex;
  padding-left: 10px;
  gap: 30px;
  margin-top: 10px;
width:100%;
}