.notifications-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  direction: rtl;
  color: #12253e;
  font-family: sans-serif;
}

.notifications-title {
  text-align: center;
  margin-bottom: 15px;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 8px 15px;
  border: 1px solid #12253e;
  background: white;
  color: #12253e;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-btn:hover {
  background: #12253e;
  color: #fff;
}

.tab-btn.active {
  background: #12253e;
  border: none;
  color: white;
}

.card {
  padding: 12px;
  margin-bottom: 10px;
  background: #f5f5f5;
  border-radius: 10px;
}

.time {
  font-size: 12px;
  color: #555;
}
