.home-page {
  padding: 20px;
  width: 100%;

   background: linear-gradient(135deg,#141e30,#243b55);
}

/* العنوان مع زر إضافة مشروع */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 30px;
}

.home-header h1 {
  font-size: 26px;
  font-weight: bold;
  color:#d3bb9cff;
}

/* الحاوية الرئيسية */
.home-container {
  margin: 30px;
  background-color:#7b756aeb;
  border-radius: 30px;
justify-content: center;
}

/* شبكة المشاريع */
.projects-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fil);
  gap: 40px;
  padding:30px;
  width: 100%;


}

/* جعل صفحة هوم متجاوبة */
@media(max-width: 100%){
  .home-page {
    padding: 20px;
  }

  .home-header h1 {
    font-size: 20px;
  }
}
