 .footer {
   background: linear-gradient(135deg,#1c314e,#243b55);
     color: white;
      text-align: center;
      margin:1px;
      font-size: 1rem;
     /* position: fixed; */
     /* bottom:0; */
     
     }
