.btn {
  background-color: #1e40af; /* أزرق مطابق للفيغما */
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #2563eb;
}
